<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Inventory</a>
    <button class="btn btn-outline-success" type="button">Add item</button>
  </div>
  </nav>

{{#each items}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Equipment: {{this.equipment}}</h5>
    <p class="card-text">Supplier: {{this.supplier}}</p>
    <p class="card-text">Quantity: {{this.quantity}}</p>
    <a href="#" class="btn btn-primary">See more</a>
  </div>
</div>
{{/each}}
